.window {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;

    flex-direction: row;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
    display: flex;
    flex-direction: column;
}