/* Modal background */
.modal {
    display: block; /* Not hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll */
    background-color: rgba(0,0,0,0.4); /* Black opacity */
}

/* Modal Content */
.modal-content {
    padding: 16px;
    background-color: floralwhite;
    margin: 15% auto 15% auto;; /* 12% from the top, 0% from the bottom and centered */
    width: 20%; /* Depending on screen size */
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.buttonsDiv {
    text-align:center;
}